:root{
    --backgroundColor: #171717;
    --footerColor: #444444;
    --primaryColor: #EDEDED;
    --secondaryColor: #DA0037;
}

.node{
    width:25px;
    height:25px;
    outline: 1px solid var(--backgroundColor);
    display:inline-block;
    background-color: var(--footerColor);
}

.node-finish{
    background-color:var(--secondaryColor);
}

.node-start{
    background-color:green;
}

.node-wall{
    background-color: var(--backgroundColor);
}

.node-visited{
    background-color: var(--primaryColor);
}

.node-shortest-path{
    background-color:var(--secondaryColor);
}